/* selector { property : value; } */

h1 {
  text-align: center;
  color: red;
}

p {
  color: blue;
}
body {
  background-color: green;
}

div{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blueviolet;
    font-weight: 200;
    }